@import "normalize";

@font-face {
  font-family: LTMuseum;
  src: url('/assets/lt-museum/LTMuseum-Reg.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: LTMuseum;
  src: url('/assets/lt-museum/LTMuseum-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --text-color: #D2D2D2;
  --text-color-highlight: #FFC300;
  --text-color-highlight-2: #ff9900;
  --text-color-hover: white;
  --text-color-highlight-hover: #ffeaaa;
  --text-color-highlight-2-hover: #ffdaaa;
  --bgcolor: #3B3B3B;
  --nav-outer-margin: 10%;
}

body, html {
  width: 100vw;
}

body {
  font-family: LTMuseum, sans-serif;

  background-color: #3B3B3B;
  color: #D2D2D2;
  cursor: default;
}

.logo-small {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.navigation {
  position: sticky;
  top: 0;

  //mask-image: linear-gradient(
  //                to bottom,
  //                black 0% 50%,
  //                transparent 50% 100%
  //);
  background: linear-gradient(
                  to bottom,
                  var(--bgcolor) 0% 80%,
                  transparent 100%
  );

  padding-bottom: 15px;

  //border: 1px solid red;

  .nav-content {
    display: grid;
    grid-template-columns: var(--nav-outer-margin) auto auto var(--nav-outer-margin);
    grid-template-areas: ". logo links .";
    position: relative;
  }

  .menu.icon {
    display: none;
    grid-area: links;
    align-self: center;;
    justify-self: end;
    font-size: 32px;
    cursor: pointer;
  }

  .backdrop {
    display: none;
    //position: absolute;
    //inset: 0;
    //height: 200%;
    //background: linear-gradient(
    //                to bottom,
    //                #3B3B3B,
    //                transparent 50%
    //);
    //backdrop-filter: blur(16px);
    //mask-image: linear-gradient(
    //                to bottom,
    //                black 0% 50%,
    //                transparent 50% 100%
    //);
    //pointer-events: none;
  }

  a {
    color: #D2D2D2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

    transition: color 0.15s ease-out;
    transition-property: color, text-shadow;

    &[aria-current="page"] {
      color: var(--text-color-highlight);
      text-shadow: 0 0 25px rgba(255, 195, 0, 0.5);

      &:hover {
        text-shadow: 0 0 25px rgba(255, 195, 0, 0.5), 0 0 10px var(--text-color-hover);
        color: var(--text-color-highlight-hover);
      }
    }

    &:hover:not([aria-current="page"]) {
      color: var(--text-color-hover);
      text-shadow: 0 0 10px var(--text-color-hover);
    }
  }

  .logo-title {
    grid-area: logo;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-block: 10px;
    justify-content: start;
  }

  .logo-text {
    font-size: clamp(20px, 3vw, 36px);
    margin: 0;
    font-weight: bold;
    padding: 0;
  }

  .navlinks {
    grid-area: links;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 46px;
  }

  @media (max-width: 900px) {
    --nav-outer-margin: 30px;
  }


  @media (max-width: 700px) {
    .navlinks {
      display: none;
      opacity: 0;
      transition-duration: 0.2s;
      transition-property: display, opacity;
      transition-behavior: allow-discrete;

      grid-area: unset;
      position: absolute;
      top: 100%;
      width: 100vw;
      background-color: var(--bgcolor);
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1000;
    }

    .opened .navlinks {
      display: flex;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }

    .opened {
      background: var(--bgcolor);
    }

    .menu.icon {
      display: initial;
    }

  }
}

main {
  margin-inline: 48px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color-highlight);
}

.entity-list {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 24px;
  justify-content: center;
  grid-template-columns: 100%;

  li {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      color: #D2D2D2;
      text-decoration: none;
      display: grid;
      grid-template-columns: 1fr auto;

      h2 {
        align-self: baseline;
        transition: color 0.15s ease-out;
      }

      .date {
        align-self: baseline;
        font-size: 20px;
        color: var(--text-color-highlight-2);
        transition: color 0.15s ease-out;
      }

      .description {
        font-size: 20px;
        grid-column: 1 / -1;
        transition: color 0.15s ease-out;
      }

      &:hover {
        h2 {
          color: var(--text-color-highlight-hover);
        }

        .description {
          color: var(--text-color-hover);
        }

        .date {
          color: var(--text-color-highlight-2-hover);
        }
      }
    }
  }
}

.info {
  font-style: italic;
}

.page {
  margin-inline: auto;
  margin-bottom: 30px;
  width: min(100%, 1000px);
}

.home-page {
  .core {
    text-align: center;
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
  }
}

.about-page {
  h2 {
    text-align: center;
  }

  .address {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }
}

.router-outlet-0 main {
  view-transition-name: main;
}

//.router-back main {
//  view-transition-name: main-back;
//}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes DispIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes DispOut {
  from {
    opacity: 1;
    display: flex;
  }

  to {
    opacity: 0;
    display: none;
  }
}

::view-transition-old(main) {
  animation: 0.3s fadeOut;
}

::view-transition-new(main) {
  animation: 0.3s fadeIn;
}

::view-transition-old(main-back) {
  animation: 0.5s slideOutBack;
}

::view-transition-new(main-back) {
  animation: 0.5s slideInBack;
}


//@keyframes slideIn {
//  from {
//    transform: translate(100vw, 0);
//  }
//  to {
//    transform: translate(0px, 0px);
//  }
//}
//
//@keyframes slideOut {
//  from {
//    transform: translate(0px, 0px);
//  }
//  to {
//    transform: translate(-100vw, 0);
//  }
//}

//@keyframes slideInBack {
//  from {
//    transform: translate(-100vw, 0);
//  }
//
//  to {
//    transform: translate(0px, 0px);
//  }
//}
//
//@keyframes slideOutBack {
//  from {
//    transform: translate(0px, 0px);
//  }
//
//  to {
//    transform: translate(100vw, 0);
//  }
//}

.markdown {
  line-height: 1.6;

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-highlight);
  }

  a {
    color: var(--text-color-highlight);
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }
}